---
import Footer from "./Footer.astro";
import Header from "./Header.astro";

const { title } = Astro.props;
---

<div id="content-wrapper">
  <Header />

  <h1>{title}</h1>

  <slot />

  <Footer />
</div>
